/* Общие стили */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Контейнер */
.dashboard-wrapper {
    display: flex;
    min-height: 100vh;
}

/* Левое меню */
.left-sidebar {
    background-color: #B2E2F2;
    width: 240px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top-right-radius: 30px;
}

.logo-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 65px;
    height: 60px;
}

.logo-text span {
    display: block;
    font-weight: bold;
    font-size: 24px;
    color: #FF6F61;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    color: #333;
    cursor: pointer;
    transition: background 0.3s ease;
}

.nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
}

/* Основной контент */
.main-area {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Верхняя панель */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.page-title {
    margin: 0;
    font-size: 28px;
    color: #333;
    flex: 1 1 auto;
    min-width: 200px;
}

.top-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.top-buttons button {
    background-color: #9bd1e8;
    border: none;
    color: black;
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: background-color 0.3s ease;
}

.top-buttons button:hover {
    background-color: #9bd1e8;
}


/* Адаптивность */
@media (max-width: 768px) {
    .dashboard-wrapper {
        flex-direction: column;
    }

    .left-sidebar {
        width: 100%;
        border-radius: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-area {
        padding: 10px;
    }

    .top-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .top-buttons {
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
    }

    .controls-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .filters {
        flex-direction: column;
        width: 100%;
    }
}