@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: skyblue;
    background: url('../images/autho.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{ /* рамка авторизации */
    width: 420px;
    background-color: #8ACFE6;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 24px;
    text-align: left;
}

.wrapper .input-box{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: #FFD1DC;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: black;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #FF6F61;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover{
    text-decoration: underline;
    color: #FF6F61;
}

.logo-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.logo-name img {
    width: 70px; /* уменьшаем размер логотипа */
    height: auto;
}

.logo-name-text h2 {
    margin: 0;
    color: #FF6F61;
    font-size: 26px;
    font-weight: 500;
    text-align: left; /* выравнивание текста по левому краю */
}

.logo-name-text {
    display: flex;
    flex-direction: column;
}